USE [master]
GO
/****** Object:  Database [CoreEcom]    Script Date: 09/12/2021 10:12:23 PM ******/
CREATE DATABASE [CoreEcom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CoreEcom', FILENAME = N'C:\Users\karthick\CoreEcom.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CoreEcom_log', FILENAME = N'C:\Users\karthick\CoreEcom_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CoreEcom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CoreEcom]
GO
USE [CoreEcom]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 09/12/2021 10:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [uniqueidentifier] NOT NULL,
	[SkuCode] [nvarchar](8) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Price] [money] NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[UpdatedBy] [nvarchar](20) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[usp_Ecom_AddUpdateProduct]    Script Date: 09/12/2021 10:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE      
/*************************************************************************/    
 --NAME       :     
    [dbo].[usp_Ecom_AddUpdateProduct]      
 --PURPOSE    : To Add or Updated Product 
 --PARAMS     : 
			(@Id UNIQUEIDENTIFIER,
			@SkuCode NVARCHAR(8),
			@Name NVARCHAR(250),
			@Price MONEY,
			@ImageUrl NVARCHAR(MAX),
			@IsActive BIT,
			@CreatedBy NVARCHAR(20),
			@UpdatedBy NVARCHAR(20),
			@CreatedOn DATETIME,
			@UpdatedOn DATETIME)
 --CALLS      : N/A    
 --CALLED BY  :     
 --MODS DATA  :     
 --SAMPLE CALL: EXEC [dbo].[usp_Ecom_AddUpdateProduct] @Id ='204AEA60-1360-47E0-B7BF-036A347C5F71',@SkuCode = 'F4H68THJ',@Name='Test Product',@Price='10.00',@ImageUrl='https://picsum.photos/id/237',@IsActive=1,@CreatedBy='Admin',@UpdatedBy='Admin',@CreatedOn='2021-09-11',UpdatedOn='2021-09-11'
 --HISTORY    
 --    When		 -  Who		 -  Why       -
 --  09/11/2021  - Karthick  - Add or Update Product
/*************************************************************************/ 
 AS       
BEGIN       
 -------------------------------------------------------------------------------------------    
 -- Testing      
 -------------------------------------------------------------------------------------------    
 --DECLARE @Id UNIQUEIDENTIFIER = '204AEA60-1360-47E0-B7BF-036A347C5F71';   
 --DECLARE @SkuCode NVARCHAR(8) = 'F4H68THJ'; 
 --DECLARE @Name NVARCHAR(250) = 'Test Product'; 
 --DECLARE @Price MONEY = '10.00'; 
 --DECLARE @ImageUrl NVARCHAR(MAX) = 'https://picsum.photos/id/237'; 
 --DECLARE @IsActive BIT =1; 
 --DECLARE @CreatedBy NVARCHAR(20) = 'Admin'; 
 --DECLARE @UpdatedBy NVARCHAR(20) = 'Admin'; 
 --DECLARE @CreatedOn DATETIME = GETDATE(); 
 --DECLARE @UpdatedOn DATETIME = GETDATE(); 

 -------------------------------------------------------------------------------------------    
 -- Local variables    
 -------------------------------------------------------------------------------------------     
 DECLARE @LocalProductId UNIQUEIDENTIFIER=@Id; 
 DECLARE @LocalSkuCode NVARCHAR(8) = @SkuCode; 
 DECLARE @LocalName NVARCHAR(250) = @Name; 
 DECLARE @LocalPrice MONEY = @Price; 
 DECLARE @LocalImageUrl NVARCHAR(MAX) = @ImageUrl; 
 DECLARE @LocalIsActive BIT = @IsActive; 
 DECLARE @LocalCreatedBy NVARCHAR(20) = @CreatedBy; 
 DECLARE @LocalUpdatedBy NVARCHAR(20) = @UpdatedBy; 
 DECLARE @LocalCreatedOn DATETIME = @CreatedOn; 
 DECLARE @LocalUpdatedOn DATETIME = @UpdatedOn; 

 -- SET NOCOUNT ON added to prevent extra result sets from    
 -- interfering with SELECT statements.    
 SET NOCOUNT ON;   
  -------------------------------------------------------------------------------------------    
 -- Verify by Id    
 -------------------------------------------------------------------------------------------    
 IF EXISTS (SELECT ProductId FROM Product WHERE ProductId = @LocalProductId)      
 BEGIN      
 -------------------------------------------------    
 -- Update Product    
 -------------------------------------------------    
  UPDATE Product SET Name = @LocalName,SkuCode = @LocalSkuCode,Price = @LocalPrice,ImageUrl=@LocalImageUrl,      
  IsActive=@LocalIsActive,CreatedBy=@LocalCreatedBy,UpdatedBy=@LocalUpdatedBy,CreatedOn=@LocalCreatedOn,UpdatedOn = @LocalUpdatedOn
  WHERE ProductId = @LocalProductId      
 END      
 ELSE      
 BEGIN      
 -------------------------------------------------    
 -- Insert Product    
 -------------------------------------------------    
  INSERT INTO Product(ProductId,SkuCode,Name,Price,ImageUrl,IsActive,CreatedBy,UpdatedBy,CreatedOn,UpdatedOn) VALUES
  (@LocalProductId,@LocalSkuCode,@LocalName,@LocalPrice,@LocalImageUrl,@LocalIsActive,@LocalCreatedBy,@LocalUpdatedBy,@LocalCreatedOn,@LocalUpdatedOn)      
 END      
 -------------------------------------------------    
 -- Return Current Product    
 -------------------------------------------------    
 SELECT ProductId,SkuCode,Name,Price,ImageUrl,IsActive,CreatedBy,UpdatedBy,CreatedOn,UpdatedOn
 FROM Product WITH(NOLOCK) WHERE ProductId = @LocalProductId      
END    
GO
/****** Object:  StoredProcedure [dbo].[usp_Ecom_GetProductById]    Script Date: 09/12/2021 10:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE      
/*************************************************************************/    
 --NAME       :     
    [dbo].[usp_Ecom_GetProductById]      
 --PURPOSE    : To Get Product By Id   
 --PARAMS     : 
			(@Id UNIQUEIDENTIFIER)
 --CALLS      : N/A    
 --CALLED BY  :     
 --MODS DATA  :     
 --SAMPLE CALL: EXEC [dbo].[usp_Ecom_GetProductById] @Id ='204AEA60-1360-47E0-B7BF-036A347C5F71'
 --HISTORY    
 --    When		 -  Who		 -  Why       -
 --  09/11/2021  - Karthick  - Return Product By Id  
/*************************************************************************/ 
 AS       
BEGIN       
 -------------------------------------------------------------------------------------------    
 -- Testing      
 -------------------------------------------------------------------------------------------    
 --DECLARE @Id UNIQUEIDENTIFIER = '204AEA60-1360-47E0-B7BF-036A347C5F71';   

 -------------------------------------------------------------------------------------------    
 -- Local variables    
 -------------------------------------------------------------------------------------------     
 DECLARE @LocalProductId UNIQUEIDENTIFIER=@Id; 
 -- SET NOCOUNT ON added to prevent extra result sets from    
 -- interfering with SELECT statements.    
 SET NOCOUNT ON;   
 -------------------------------------------------    
 -- Return Product By Id
 -------------------------------------------------    
 SELECT ProductId,SkuCode,Name,Price,ImageUrl,IsActive,CreatedBy,UpdatedBy,CreatedOn,UpdatedOn
 FROM Product WITH(NOLOCK) WHERE ProductId = @LocalProductId AND IsActive = 1      
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Ecom_GetProductList]    Script Date: 09/12/2021 10:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE      
/*************************************************************************/    
 --NAME       :     
    [dbo].[usp_Ecom_GetProductList]      
 --PURPOSE    : To Get Product List   
 --PARAMS     : N/A  
 --CALLS      : N/A    
 --CALLED BY  :     
 --MODS DATA  :     
 --SAMPLE CALL: EXEC [dbo].[usp_Ecom_GetProductList] 
 --HISTORY    
 --    When		 -  Who		 -  Why       -
 --  09/11/2021  - Karthick  - Return All Product List  
/*************************************************************************/ 
 AS       
BEGIN       
 -- SET NOCOUNT ON added to prevent extra result sets from    
 -- interfering with SELECT statements.    
 SET NOCOUNT ON;   
 -------------------------------------------------    
 -- Return All Product List
 -------------------------------------------------    
 SELECT ProductId,SkuCode,Name,Price,ImageUrl,IsActive,CreatedBy,UpdatedBy,CreatedOn,UpdatedOn
 FROM Product WITH(NOLOCK) WHERE IsActive = 1      
END
GO
USE [master]
GO
